extends layout

block content
  h1= title

  form(method='POST' action='/new')
    label username:
    input(name='username' type='text')
    label message:
    input(name='message' type='text')
    button(type='submit') submit